/*
Theme Name: Huslajobs
Template: astra
Version: 1.0
Author:	Zinger Systems
Theme URI:
Author URI: '
*/


.desktop.ast-flex.main-header-container{
    justify-content: space-between;
}
/*todo check why flex-grow hides logo on mobile*/
.desktop.ast-flex.main-header-container div.ast-main-header-bar-alignment ,.desktop.ast-flex.main-header-container div.site-branding{
    flex-grow: 1;
}
/*.desktop.ast-flex.main-header-container >div:first-child{*/
/*    flex-grow: 4;*/
/*}*/
.ast-header-break-point .main-header-bar .main-header-bar-navigation .main-header-menu {
    border: unset !important;
}
.desktop.ast-flex.main-header-container div.main-navigation{
    justify-content: space-between;
    align-items: center;
    display: flex;
}
#hs-language-select img{
    width: 40px;
    height: 40px;
}
div.hs-user-login .dropdown-menu{
    left: auto;
    right: 0;
}
/*.main-header-bar {*/
/*    border-bottom: unset !important;*/
/*}*/
.v-avatar{
    width: 40px;
    height: 39px !important;
    border: 1px solid var(--hs-primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
}
.dropdown-menu{
    min-width: 17rem !important;
}
.main-navigation ul#primary-menu .menu-link{
    padding: 0 2rem;
    color: #808080;
}

.main-navigation ul#primary-menu  li.current-menu-item .menu-link{
    color: var(--hs-primary-color);
}
/*.main-header-menu{*/
/*    background: white !important;*/
/*}*/
div.dropdown-item .logout{
    line-height: 1.3 !important;
}

/*.content-area{*/
/*    min-height: 100vh;*/
/*}*/

.content-area{
    width: 100%;
}
/*.grecaptcha-badge{*/
/*    opacity: 0 !important;*/
/*}*/
@media (max-width: 921px)
{
    .main-navigation ul#primary-menu .menu-link{
        font-size: 1.2rem;
        padding: 0 1rem;

    }
    .main-navigation ul#primary-menu .menu-link{
        padding: 0 1rem;
    }
    .desktop .ast-main-header-bar-alignment {
        display: none !important;
    }
    #ast-mobile-header ul#primary-menu{
        flex-direction: column;
    }
    /*.desktop.ast-flex.main-header-container >div{*/
    /*    flex-grow: unset !important;*/
    /*}*/
    .desktop.ast-flex.main-header-container div.main-navigation{
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }
    .hs-user-no-login, .hs-user-login {
        padding-bottom: 20px;
        justify-content: space-between;
        flex-direction: column;
    }
    div.hs-user-login .dropdown-menu {
        left: 0;
        right: 0;
    }
    #ast-mobile-header .ast-mobile-header-content{
        border-bottom-color: #eaeaea;
        border-bottom-style: solid;
    }
    .main-header-container .ast-has-mobile-header-logo .custom-logo-link {
        display: inline-block !important;
    }
}

.ast-separate-container #content .ast-container {
    padding-left: 20px;
    padding-right: 20px;
}
@media (max-width: 767px){
    h1.page-title {
        font-size: 2.4rem;
    }
    .content-align-flex-start .main-header-menu {
        text-align: center;
    }
}

