:root{
    /*--hs-primary-color: #007853;*/
    --hs-primary-color: #007853;
    --hs-secondary-color:#ff9933;
    --hs-primary-color-light:#4abdac;
    --hs-secondary-color-light:#f7b733;
    --hs-gray-color: #D0CED4;
    --hs-gray-color-light: #EFEFEF;
    --hs-dark-color: #808080;

}
/*body,html{*/
/*    height: 100% !important;*/
/*}*/
body{
    font-family: Poppins Latin, sans-serif;
    background: white !important;
    font-size: 1.1rem !important;
    color: var(--hs-dark-color) !important;
    font-weight: 500;
    padding-bottom: unset !important;

}
#hs-dashboard{
    margin-top: 30px;
}
.site{
    display: flex !important;
    flex-direction: column;
}
footer{
    margin-top: auto;
}
p{
    word-break: break-word;
    word-wrap: normal;
}
a{
    color: var(--hs-primary-color)
}
a:hover{
    color: var(--hs-primary-color-light)
}
div.main-header-bar {
    border-color: var(--hs-primary-color) !important ;
    border-width: 0.5px !important;
}

button.menu-toggle.main-header-menu-toggle.ast-mobile-menu-buttons-minimal{
    background: var(--hs-primary-color);
    color: white;
}


.form-control,.ana-multi-select{
    height: auto;
    border-radius: 7px !important;
    font-size: 16px;
    font-weight: 500;
    line-height: unset !important;
    border: 1px solid var(--hs-gray-color) !important;
    /*background: inherit !important;*/

}

.form-control{
    padding: .5rem !important;
}
div.trp-language-switcher > div {
    padding: 5px 20px 5px 5px;
    border-radius: 7px;
}

.iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel] {
  padding-left: 52px !important;

}
.ana-multi-select .d-flex input{
    background: transparent !important;
    flex-grow: 1;
}
.iti--allow-dropdown{
    width: 100%;
    background: white;
}
.iti--allow-dropdown input, .iti--allow-dropdown input[type="text"], .iti--allow-dropdown input[type="tel"], .iti--separate-dial-code input, .iti--separate-dial-code input[type="text"], .iti--separate-dial-code input[type="tel"] {
    border-radius: .3rem;
}
.input-group {
    position: relative !important;
    display: table !important;
    border-collapse: separate !important;
}
.input-group .input-group-addon {
    border: none !important;
    font-size: 20px !important;
    background: #f6f5f5 !important;
    box-shadow: 1px 1px 4px #00000021 !important;
}
.mb-4{
    margin-bottom: 2rem !important;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}

.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.hs-primary-text-color{
    color: var(--hs-primary-color) !important;
}
.hs-primary-text-color:hover{
    color: var(--hs-gray-color-light);
}

.hs-round{
    border-radius: 7px !important;
}
.hs-rounded{
    border-radius: 99px !important;
}
.input-group .icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}
.input-group.icon-left .icon{
    left: 16px;
}
.input-group.icon-right .icon{
    right: 16px;
}
.input-group.icon-left input{
    padding-left: 36px !important;
}
.input-group.icon-right input{
    padding-right: 36px !important;
}
.br-1{
    border-right: 1px solid var(--hs-gray-color) !important;
}
.hs-border-1{
    border: 1px solid var(--hs-gray-color) !important;
}
.bl-1{
    border-left: 1px solid var(--hs-gray-color) !important;
}
.hs-bg-primary{
    background: var(--hs-primary-color) !important;
    color: white !important;
}

input[type="radio"]:checked, input[type=reset], input[type="checkbox"]:checked, input[type="checkbox"]:hover:checked, input[type="checkbox"]:focus:checked, input[type=range]::-webkit-slider-thumb {
    border-color: var(--hs-primary-color) !important;
    /*background-color: var(--hs-primary-color) !important;*/
    box-shadow: none;
}
input[type="email"], input[type="number"], input[type="password"], input[type="reset"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], select, textarea {

    background: #fff;
}
/*#login-links a{*/
/*    color: var(--hs-primary-color) !important;;*/
/*}*/
/*#login-links a:hover{*/
/*    color: var(--hs-primary-color-light) !important;;*/
/*}*/
.hs-center-column{
    margin: 0 auto !important;
}
.hs-page-content{
    width: 100% !important;
    padding: 4rem 0 !important;
    min-height: 100vh;
}
section.hs-section {
    padding: 0 0 4rem !important;
    width: 100% !important;
}
.hs-separator{
    height: 2px;
    width: 100%;
    background: var(--hs-dark-color);
}
.hs-secondary-text-color{
    color: var(--hs-secondary-color) !important;
}
.hs-gray-text-color{
    color: var(--hs-gray-color-light);
}
.hs-primary-text-color-light{
    color: var(--hs-primary-color-light);
}
.hs-primary-text-color-light:hover{
    color: var(--hs-primary-color);
}

.hs-bg-gray-color-light{
    background: var(--hs-gray-color-light);
}.hs-bg-gray-color{
    background: var(--hs-gray-color);
}
.not-allowed{
    cursor: not-allowed !important;
}
.hs-100-vh{
    height: 100vh !important;
}
.section-title,.section-title h2{
 font-size: 2.5rem !important;
    font-weight: 700 !important;
    margin: 0 0 2.5rem;
    color: #434e48 !important;
}
.section-title.bg-primary h2{
    background: var(--hs-primary-color) !important;
    color:  #dfdce3 !important;
    margin: 0
}
.font-weight-800{
    font-weight: 800 !important;
}

    /*signup*/
.gray-item {
    background: var(--hs-gray-color) !important;
    height: 10px;
    width: 30%;
    border-radius: 5px;
}
.sign-up-stepper-wrapper{
    margin-bottom: 20px;
}

.hs-or-separator{
    position: relative;
    text-align: center;
    width: 10%;
    transform: rotate(90deg);
    margin: 40px 0px;
}
.hs-rounded-shape{
    padding: 10px !important;
    background-color: #fff;
    display: inline-block;
    position: relative;
    z-index: 2;
}
.hs-or-separator:before{
    content: '';
    border-bottom: solid 1px var(--hs-gray-color);
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}
.hs-or-separator:after{
    display: table;
    clear: both;
    height: 0;
    width: 0;
    content: "";
}
.sign-up-stepper-wrapper::before,#progress{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 7px;
    width: 100%;
    background: var(--hs-gray-color) !important;
    z-index: 1;
}
#progress{
    background: var(--hs-primary-color) !important;
}
.sign-up-stepper::before{
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 99px;
    background: var(--hs-gray-color) !important;
    position: relative;
}

.sign-up-stepper span{
    content: attr(data-title);
    position: absolute;
    top: calc(100% - -0.2rem);
    font-size: 0.81rem;
    font-weight: 700;
    text-transform: capitalize;
}

.sign-up-stepper.completed-step::after, .sign-up-stepper.current-step::after{
    content: "";
    width: 16px;
    height: 16px;
    border: 5px solid var(--hs-primary-color);
    border-radius: 99px;
    z-index: 55;
    position: absolute;

}

.stepper-btn{
    padding: 10px 15px;
    background: var(--hs-gray-color);
    font-size: 30px;
}
.stepper-btn.next,.stepper-btn:hover{
    background: var(--hs-primary-color);
}

ul.options{
    list-style: none;
}
ul.options .option{
    cursor: pointer;
}
ul.options .option:hover,ul.options .option:active,ul.options .option.active{
    background: var(--hs-gray-color) !important;
}
.cursor-pointer{
    cursor: pointer !important;
}
.activity-card,.activity-card span,.package-card{
    border: 1px solid var(--hs-gray-color) !important;
}
.activity-card span{
    line-height: 0;
    border-radius: 99px;
    display: inline-block;
}
.activity-card span i{
    opacity: 0;
    color: var(--hs-secondary-color);
}
.activity-card.active{
    border-color: var(--hs-secondary-color) !important;
}
.activity-card.active span{
    border-color: transparent !important;
}
.activity-card.active span i{
    opacity: 1;
}

.sign-up-stepper:first-child i {
    left: 0 !important;
}
.sign-up-stepper:last-child i{
    right: 0 !important;
}
.package-card{
    height: 100%;
}
.package-card.active{
    border-color: var(--hs-primary-color) !important;
}
.package-card.active .package-name{
    color: var(--hs-secondary-color);
}
.content-area{
    padding: 5vw 0 !important;
    margin: 0 !important;
}
.home .content-area{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.ana-custom-select div.selected-icons{
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}
.ana-custom-select .pr-6{
    padding-right: 3rem !important;
}
.ana-custom-select  .options-container{
    border: none !important;
    background: #ffffff !important;
    padding: 12px 15px;
    box-shadow: 1px 1px 4px #00000021 !important;
    position: absolute;
    /*top: 100%;*/
    max-height: 240px;
    min-height: fit-content;
    overflow-y: scroll;
    white-space: nowrap;
    min-width: 100%;
    z-index: 12 !important;
}
.height-0{
    max-height: 0 !important;
    min-height: 0 !important;
}
.is-hidden{
    display: none !important;
}
.ana-custom-select .opacity-0{
    transition: all 0.2s;
    opacity: 0;
}
.ana-single-select p.selected-text{
    white-space: pre;
}
.ana-content-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.card{
    box-shadow: unset !important;
}
#hs-statistics .card{
    box-shadow: 0px 1px 3px rgba(0,0,0,.2) !important;
    height: 100% !important;
    background: var(--hs-gray-color-light) !important;
}
#hs-statistics .card.recent-subscriptions{
    background: white !important;
}
.pointer-event-none{
    pointer-events: none;
}

div.hs-desktop-only #job-seeker-search .form-control {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border: unset !important;
    border-left: 1px solid var(--hs-gray-color);
}
div.form-filters .form-control{
    background: var(--hs-gray-color) !important;
}
div.hs-desktop-only div.form-filters .form-control {
    padding-top: 5px !important;
    padding-bottom: 5px !important;

}


.filter-item {
    width: 18.5%;
    margin-right: 0.8rem !important;
}
.filter-item:first-child {
    margin-left: 0.8rem !important;
}
/*button*/
.elementor-container{
    padding: 0 !important;
}
.hs-btn{
    font-size: 16px;
    padding: 0.5rem 2rem !important;
    border: none;
    border-radius:7px;
    outline: none !important;
    text-decoration: none !important;
    text-transform: capitalize;
    /*line-height: 1.9 !important;*/
}
.hs-btn-sm{
    font-size: 12px !important;
    padding: 8px 30px !important;
}
.hs-btn-primary,.hs-btn-gray-outline:hover,.hs-btn-primary-outline:hover{
    color: #dfdce3 !important;
    background:var(--hs-primary-color) !important;
    border: 1px solid var(--hs-primary-color) !important;
}
.hs-btn-primary-outline,.hs-btn-primary:hover{
    color: var(--hs-primary-color) !important;
    border: 1px solid var(--hs-primary-color) !important;
    background:#fff !important;
}
.hs-btn-gray{
    color: inherit;
    background:var(--hs-gray-color) !important;
}
.hs-btn-gray-outline{
    color: inherit;
    border: 1px solid var(--hs-gray-color) !important;
    background:#fff !important;
}
.hs-btn-gray-outline:hover{

}
.hs-btn-icon{
    display: flex;
    align-items: center;
}
.hs-btn-signup{
    padding: 0.5rem 100px!important;
}

/*
    search form
*/
/*#search-form input{*/
/* background: transparent !important;*/

/*}*/
#search-form div.hs-desktop-only .input-group input{
    border:none !important ;
    padding: 10px;

}
#search-form div.hs-desktop-only .input-group input.br-1{
    border-right: 1px solid var(--hs-gray-color) !important;
    border-radius: unset !important;
}
#search-form .input-group input.bl-1{
    border-left: 1px solid var(--hs-gray-color) !important;
}
.hs-title{
    font-size: 1.4rem;
    font-weight: 700;
    color: #434e48;

}
.hs-subtitle,.profile-notice{
    font-size: 1.1rem;

    color: var(--hs-dark-color);
}
.hs-subtitle{
    font-weight: 800;
}
/*#single-job,#forgot-password-content,.job-form,.has-loader,.my-account-packages,#edit-myaccount,.my-account-profile{*/


/*body.home{*/
/*    background-image: url("../images/hs-homepage-bg-sm.png") !important;*/
/*    background-repeat: no-repeat !important;*/
/*    background-attachment: fixed !important;*/
/*    background-position: 50% 150% !important;*/
/*    !*background-attachment: fixed;*!*/
/*}*/
/**
my account
 */

.profile-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

main{
    padding: unset !important;
}
.userdata-body{
    padding: 2rem;
    flex-grow: 1;
    background: white;
    border-radius: 0 1rem 1rem 1rem;
    height: 30em;
    overflow-y: scroll;
    position: relative;
}
.profile-image-preview .image{
    height: 150px;
    width: 150px;
    position: relative;
}
.image img{
width:150px;
    height: 150px;
}
.clear-preview{
    position: absolute;
    right: 1px;
    color: white !important;
    cursor: pointer;
    padding: 3px 9px;
    background: red;
    border-radius: 100%;
}

#user-profile{
    background: rgba(241,241,241,0.8);
    border-radius: 1rem;
    margin-top: 4rem;
    padding: 3rem 0 !important;
}
#user-data {
    margin-top: 3rem;
 }
/*toaster*/
#toast-container .toast .toast-message{
    font-size: 16px !important;
    opacity: 1 !important;
}
#toast-container>div{
    opacity: 1 !important;
}
.userdata-menu-item{
    padding: 1rem;
}
div.menu-item{
    padding: 1rem 0 !important;
}
#job-seeker .userdata-menu-item.active, #job-seeker.userdata-menu-item:hover{
    color: var(--hs-primary-color);
    background: var(--hs-gray-color);
    border-radius: unset !important;
}

.userdata-menu-item.active,.userdata-menu-item:hover{
    background: #ffffff;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}


.userdata-menu-item span.total ,span.cancel-search{
    padding: 6px 9px !important;

}
.userdata-menu-item.active span.total {
    border-radius: 99px;
    background: white;
}
span.cancel-search{
    color: var(--hs-primary-color);
    cursor: pointer;
    border-radius: 99px;
    border: 2px solid var(--hs-primary-color) !important;
    display: flex;
    align-items: center;
}
.page-subtitle{
    font-size: 1.4rem !important;
}
/*.job-card{*/
/*    background: #FFFCFC;*/
/*    box-shadow: 0 1px 2px rgb(0 0 0 / 35%);*/
/*}*/
.job-card {
    background: #FFFCFC;
    /*box-shadow: 0 1px 2px 1px rgb(0 0 0 / 10%);*/
    /*box-shadow: rgba(45, 62, 80, 0.12) 0px 1px 5px 0px;*/
    display:block;
    border-radius: 5px;
    box-shadow:  0 3px 9px 0 #0002
}
.job-card:hover {
    border-color: var(--hs-primary-color) !important;
}
/*.job-card:hover h5.hs-title{*/
/*    color:white !important;*/
/*}*/
/*.job-card:hover p{*/
/*    color:black !important;*/
/*}*/
/*.job-card a.hs-btn{*/
/*    background: white !important;*/
/*    color:var(--hs-dark-color) !important;*/
/*}*/
.job-card h5.hs-title a{
    color: inherit;
}
    /**
    woocommerce
     */

.woocommerce.woocommerce-checkout form #customer_details.col2-set .col-1, .woocommerce.woocommerce-checkout form #customer_details.col2-set .col-2, .woocommerce-page.woocommerce-checkout form #customer_details.col2-set .col-1, .woocommerce-page.woocommerce-checkout form #customer_details.col2-set .col-2 {
    float: none;
    width: auto !important;
    max-width: unset !important;
}
.woocommerce form .form-row {
   display: flex !important;
    flex-direction: column !important;
    margin-bottom: 30px !important;
}
/*
front page
*/
h1.page-title, .page-title h1{
    font-size: 3.5rem !important;
    font-weight: bold !important;
    line-height: 1.1;
    color: #434e48 !important;
    margin-bottom: 2rem !important;


}
div.page-title{
    padding: 0 !important;
}
div.page-title h1{
    margin-bottom: unset !important;
}
/*div.hs-page-header{*/
/*    margin-bottom: 5rem;*/
/*}*/

/*modl*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top:10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    /*           background-color:rgb(253 138 36 / 45%); */
}
/* Modal Content */
.modal-content {
    background: #fff;
    color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #fff;
    width: 50%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    /*         color:white;  */
}
.modal-content h2,.modal-content p{
    color:white;
}
span.close{
    cursor:pointer;
    color: inherit;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


/**
    job seeker
 */

.hs-seeker-card{
    border: 1px solid var(--hs-gray-color-light);
    border-radius: 10px;
    height: 100%;
    display: block;
    /*box-shadow: 1px 2px 5px var(--hs-gray-color-light);*/
    box-shadow: 1px 1px 12px 2px var(--hs-gray-color-light);

}
.hs-seeker-card-wrapper{
    padding-bottom: 12px;
    padding-top: 12px;
}

.hs-seeker-card-header{
    position: relative;
    border-radius: 10px 10px 0 0;
}
.hs-seeker-card-image{
    border-radius: 10px 10px 0 0;
    /*height: 250px;*/
    height: 200px;
    background-size: cover;
    background-position: center top;
}
.hs-overlay-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.65) 100%);
    /*filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);*/
}
.hs-seeker-card-header .hs-overlay-box {
    border-radius: 10px 10px 0 0;
}

.hs-seeker-card-categories-label{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ff650d;
    z-index: 1;
    padding: 3px 10px 1px;
    display: inline-block;
    font-size: 12px;

    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 500;
}
.hs-seeker-card-categories-label >*{
    color: #fff !important;
}
.sf-featured-item{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #FFF;
    font-size: 18px;
    z-index: 1;
}
.hs-seeker-card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85%;
    padding: 15px 20px;
}
.hs-seeker-card-info >*{
    color: white;
}
.sf-profile-link {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.hs-seeker-about >*{
    color: var(--hs-dark-color);
}
.hs-seeker-card-body {
    padding: 20px;
    background-color: #fff;
}
.hs-seeker-profiles{
    font-size: 14px;
    color: #383838;
    font-weight: 500;
    margin-bottom: 10px;
}

/* single job seeker  page*/

.hs-profile-img-inner {
    padding: 12px;
    background: #ffffff2e;
    box-shadow: 0px 5px 10px #0000002e;
    margin-bottom: 10px;
    position: relative;
}
/**
pagination
 */

nav ul.pagination {
    border-radius: .3rem;
    border: 1px solid var(--hs-gray-color);
    margin:unset;

}
ul.pagination .page-link {
    color: var(--hs-primary-color);
    padding: 1rem .75rem;
    border: none;
}
ul.pagination li.page-item.active .page-link {
    z-index: 1;
    color: var(--hs-secondary-color);
    background-color: unset;
}
.hs-loader {
    /*display: none; !* Hidden by default *!*/
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top:10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #fff;
    justify-content: center;

    /*           background-color:rgb(253 138 36 / 45%); */
}
.hs-loader.relative-parent{
    position: absolute;
}

#left-area ul.elementor-icon-list-items, .elementor-edit-area .elementor-element ul.elementor-icon-list-items, .elementor .elementor-element ul.elementor-icon-list-items {
    list-style: none !important;

}
.activity-card{
    height: 100%;
}
/**
tooltip
 */

.hs-tip-holder {
    position: absolute;
    /*min-width: 100px;*/
    left: 0;
    bottom: 100%;
    margin-bottom: 8px;
    /*white-space: nowrap;*/
    max-width:25vw;
    /*max-width: 100%;*/
}
#delete-account .hs-tip-holder{
    width:25vw;
}

.hs-tip-arrow, .hs-tip-arrow-inner {
    position: absolute;
    border-color: transparent;
    border-style: solid;
    border-width: 6px;
    height: 0;
    width: 0;
    /*transform: translateX(-50%);*/
    /*left: 50%;*/
    top: 100%;
    left: 10%;
    border-top-color: #333;
}

.hs-tip-content {
    color: #fff;
    font-size: .8em;
    background: #333;
    text-align: center;
    border-radius: 3px;
    padding: .618em 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    width: 100%;
}

#profile-notice-content{
    background: var(--hs-primary-color) !important;
    border: 1px solid var(--hs-primary-color) !important;
    background: var(--hs-secondary-color) !important;
    border: 1px solid var(--hs-secondary-color) !important;
    border-radius: 10px;
}
#close-profile-notice{
    position: absolute;
    right: 15px;
    top:10px;
}
#profile-notice-content > *{
    color: #dfdce3 !important;
    color: #fff !important;
}
.switcher .selected a.hs-btn {
    padding: 0.35rem 5px !important;
}
p.MsoNormal{
    display: none !important;
}
.job-card-cat{
    background: #e8e8e8;
    padding: 0.2rem 1rem;
    border-radius: 7px;
}
.hs-left-side-menu{
    padding: 0 0 30px 0;
    transition-duration: .2s;
    box-shadow: 1px 0.05rem 0.01rem rgb(75 75 90 / 8%);
}
#loading-screen {
    position: fixed;
    background: white;
    z-index: 999999;
    height: 100%;
    width: 100%;
}
#loading-screen .loading-content{
    margin: auto;
    position: absolute;
    left: 50%;
    top:50%;
    overflow: hidden;
    transform: translate(-50%,-50%);
}
.loading-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@keyframes km-img-loading {
    0% {
        opacity: 0.5;
        transform: scale(0.5);
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0.5;
        transform: scale(0.5);
    }
}
@media (max-width: 767px) {
    .hs-or-separator{

        width: 30%;
        margin: 40px 0px;
    }
    .hs-mobile-only .hs-border-1.mb-4{
        margin-bottom: 0 !important;
    }
    .activity-card,.package-card {
        width: 100%;
        flex: 0 auto;
        margin-bottom: 30px;
    }
    .search-result div.col-md-10{
        margin-bottom: 20px;
    }
    .progress-step{
        position: relative;
    }
    .signup-ba >div.flex-column{
        padding:unset !important;
        min-height: 50vh;

    }
    .content-area,#primary{
        margin: 0 !important;
    }
    .has-loader{
        background-position-x: right;

        background-size: contain;
    }
    .site-content{
        background-size: contain !important;
    }
    .home .site-content{
        background-size: cover !important;
    }
    .ana-custom-select  .options-container{
        white-space: normal;
    }
    .elementor-container{
        padding: unset !important;
    }
    section.hs-section {
        padding: 0 0 2rem !important;
        width: 100% !important;

    }
    #user-profile {
        padding: 2rem 1rem !important;
    }
    .content-area{
        padding: 5rem 0 !important;
    }
    .userdata-body {
        padding: unset !important;
        border-radius: 0 0 1rem 1rem;

    }

    .userdata-menu{
        display: flex;
        flex-direction: row !important;
        font-size: 0.85rem !important;
    }
    div.profile-image-wrapper{
        display: flex;
        justify-content: center;
    }
    div.profile-description-wrapper{
        text-align: center;
    }
    div.userdata-menu-item{
        border-radius: unset !important;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1.page-title,.page-title h1{
        font-size: 2.5rem !important;
    }
    /*.profile-image {*/
    /*    width: 200px !important;*/
    /*    height: 200px !important;*/
    /*}*/
    .userdata-menu-item span.total{
        padding: 0 !important;
    }

}
@media (min-width: 922px){
    /*.ast-container {*/
    /*    !*max-width: 1366px !important;*!*/
    /*    max-width: 1440px !important;*/

    /*}*/
    #primary {
         width: 100% !important;
    }
    .hs-desktop-only{
        display: block !important;
    }
    .hs-mobile-only{
        display: none !important;
    }
}

.hs-table-wrapper{
    width: 100%;
    overflow-x: scroll;
}
.hs-table-wrapper table{
    table-layout: fixed;
}
.hs-table-wrapper table th{
    width: 15em;
}
.hs-table-wrapper::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 8px;
    background-color: #aaa;
}

.hs-table-wrapper::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
#job-desc table td{
    border-color: transparent !important;
}
.userdata-body.px-5{
    padding: 2rem !important;
}
#husla-pagination ul.pagination{
    width: fit-content;
    max-width: 100%;
}
.userdata-body-item{
    width: 100%;
}
.hs-profile-img-inner img {
    width: 400px;
    object-fit: cover;
    max-height: 400px;
    max-width: 100%;
    object-position: top;
}
.ana-file-container{
    border: 1px dashed var(--hs-dark-color);
    background: var(--hs-gray-color-light);
}

@media (max-width: 921px){
    .hs-desktop-only{
        display: none !important;
    }
    .hs-mobile-only{
        display: block !important;
    }
    .filter-item {
        width: 100%;
        margin: unset !important;
    }
    .filter-item:first-child {
        margin-left: unset !important;
    }
    #ast-mobile-header ul#primary-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /*.profile-image {*/
    /*    width: 150px;*/
    /*    height: 150px;*/
    /*}*/
}



/*z-index: 1000;*/
/*border: medium none;*/
/*margin: 0px;*/
/*padding: 0px;*/
/*width: 100%;*/
/*height: 100%;*/
/*top: 0px;*/
/*left: 0px;*/
/*background: rgb(255, 255, 255) none repeat scroll 0% 0%;*/
/*opacity: 0.6;*/
/*cursor: default;*/
/*position: absolute;*/