.woocommerce-checkout .processing .blockOverlay {
    /*background-image:url(../img/loader.gif) !important;
    background-position: center 30% !important;
    background-repeat: no-repeat !important;*/
    opacity: 1 !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100vh !important;
}

.woocommerce-checkout .processing .blockOverlay:after {
    content: "Please do not close this page.";
    font-size: 30px;
    position: absolute;
    bottom: 15px;
    text-align: center;
    width: 100%;
    left: 0;
    z-index: 1;
}